#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.home {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px
}

.navbar {
  width: 100%;
  color:#ad86f1;
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
  list-style-type: none;
  padding: 0 0 40px 0;
  margin: 0 0 40px 0;
  position: absolute;
  top: 5%;
  right: 50%;
  transform: translateX(50%)
}

.sorting {
  padding: 40px 0;
}

.cardsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 150px;
}
.card {
  display: flex;
  flex-direction: column;
  width: 350px;
  min-height: 600px;
  padding: 30px;
  border-radius: 10%;
  background-color: #ffffff;
  color: #393535;

  .cardImg {
    width: 100%;
    height: 500px;
    object-fit: contain;
  }
}

.backLink {
  text-align: left;
  margin-bottom: 100px;
}
.product-page-box {
  background-color: #ffffff;
  color: #000;
  border-radius: 20px;

  .product-page {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;

    img {
      border-radius: 30px;
    }

    .product-desc {
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding:  20px 10px ;

      header {
       display: flex;
       flex-direction: column;
       align-items: start;
  
       h1 {
         font-size: 28px;
         text-align: left;
         margin-bottom: 0;
       }
  
       p {
         margin: 0;
         padding: 0;
       }

      
    }
    p {
      margin: 0;
      padding: 0;
    }

    }
  }
}

